@import url("fonts.css");

body {
    background-color: black;
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
    padding: 0;
}
        .wrapper {
            max-width: 960px;
            margin: 0 auto;
            padding-left: 10px;
            padding-right: 10px;
        }
        h1,
        h2 {
            text-align: right;
            font-family: sans-serif;
            color:red;
        }
        p {
            text-align: right;
        }
        em,
        i {
            color:green;
            font-style: italic;
        }