@import url("style-reset.css");
@import url("https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap");


body 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    line-height: 1;
}